@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  color: white;
}

.navbar-left {
  flex-grow: 1;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
  user-select: none;
}

.navbar-right {
  display: flex;
}

.navbar-links {
  margin-right: 1rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  padding: 5px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: aqua;
}

.navbar-links li a:hover {
  color: black;
  font-weight: 600;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
/* about us */
.about-section {
  padding: 2rem;
}

.team-members {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
/* Footer Styles */
footer {
  background-color: royalblue;
  color: white;
  padding: 1rem 0;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: black;
  font-weight: 600;
}
