/* Styles for the chatbot page */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/* Navbar Styles */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  color: white;
}

.navbar-left {
  flex-grow: 1;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
  user-select: none;
}

.navbar-right {
  display: flex;
}

.navbar-links {
  margin-right: 1rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  padding: 5px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: aqua;
}

.navbar-links li a:hover {
  color: black;
  font-weight: 600;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Main section */
/* Styles for the chatbot page */

/* Main section */
.main-section {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Chatbot container */
.chat-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 77dvh;
}

/* Chat box */
.chat-box {
  height: 90%;
  overflow-y: auto;
  padding: 20px;
}
.chat-ctrls {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 63%;
}

/* User input */
#userInput {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Send button */
#sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sendButton:hover {
  background-color: #0056b3;
}

/* Bot message */
.bot {
  background-color: #e1ffc7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* User message */
.user {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
}

footer {
  background-color: royalblue;
  color: white;
  padding: 1rem 0;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: black;
  font-weight: 600;
}
